
ILRunTime/.vs/ILRunTime/v16/.suo
ILRunTime/bin/Debug/HelloIL.dll
ILRunTime/bin/Debug/ILRunTime.exe
ILRunTime/bin/Debug/ILRunTime.exe.config
ILRunTime/bin/Debug/ILRunTime.pdb
ILRunTime/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ILRunTime/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ILRunTime/obj/Debug/ILRunTime.csproj.CoreCompileInputs.cache
ILRunTime/obj/Debug/ILRunTime.csproj.FileListAbsolute.txt
ILRunTime/obj/Debug/ILRunTime.csprojAssemblyReference.cache
ILRunTime/obj/Debug/ILRunTime.exe
ILRunTime/obj/Debug/ILRunTime.pdb
